:root {
  font-family: Verdana, Arial, sans-serif;
  line-height: 1.8;
  font-size: 11pt;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
